# This workflow is largely based on
# https://github.com/salsify/ember-css-modules/blob/master/.github/workflows/ci.yml

name: CI

# These trigger patterns courtesy of https://github.com/broccolijs/broccoli/pull/436
on:
  pull_request:
  push:
    # filtering branches here prevents duplicate builds from pull_request and push
    branches:
      - master
      - "v*"
    # always run CI for tags
    tags:
      - "*"

  # early issue detection: run CI weekly on Sundays
  schedule:
    - cron: "0 6 * * 0"

env:
  CI: true
  PNPM_VERSION: 7.30.5

jobs:
  test-locked-deps:
    name: Locked Deps
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3.2.0
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: ${{ env.PNPM_VERSION }}
      - name: Install Node
        uses: actions/setup-node@v3.5.1
        with:
          node-version: 12
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Lint JS
        run: pnpm lint:js
      - name: Lint Types
        run: pnpm lint:types
      - name: Lint Handlebars
        run: pnpm lint:hbs
      - name: Browser Tests
        run: pnpm test

  test-old-dependencies:
    name: Oldest Supported Env
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3.2.0
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: ${{ env.PNPM_VERSION }}
      - name: Install Node
        uses: actions/setup-node@v3.5.1
        with:
          node-version: 12
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Browser Tests
        run: pnpm test

  test-try:
    name: Ember Try
    runs-on: ubuntu-20.04
    needs: [test-locked-deps]
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - ember-3.15
          - ember-3.16
          - ember-3.20
          # Disabled because these versions are currently not compatible with this addon
          # - ember-3.24
          # - ember-release
          # - ember-beta
          # - ember-canary
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3.2.0
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: ${{ env.PNPM_VERSION }}
      - name: Install Node
        uses: actions/setup-node@v3.5.1
        with:
          node-version: 12
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Try Scenario
        run: pnpm ember try:one ${{ matrix.scenario }}
