name: Release

on:
  push:
    tags:
      - 'v*'

env:
  PNPM_VERSION: 6.23.6

jobs:
  release:
    name: release
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2.4.0
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: ${{ env.PNPM_VERSION }}
      - uses: actions/setup-node@v2.5.1
        with:
          node-version: 12
          registry-url: 'https://registry.npmjs.org'

      - run: pnpm install --frozen-lockfile
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
